---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "タグ一覧";
---
<BaseLayout pageTitle={ pageTitle }>
  <div>{ tags.map((tag) => <p><a href={ `/astro-tutorial/tags/${tag}` }>{ tag }</a></p>)}</div>
</BaseLayout>