---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>about</title>
	</head>
	<body>
    <a href="/astro-tutorial/">ホーム</a>
    <a href="/astro-tutorial/about/">あばうと</a>
		<h1>あばうとページ</h1>
    <p>このページは Astro チュートリアルを写経して作っています</p>
	</body>
</html>
