---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ブログ!";
---

<BaseLayout pageTitle={ pageTitle }>
  <p>記事一覧</p>
  <ul>
    <li><a href="/astro-tutorial/posts/post-3/">3番目の記事</a></li>
    <li><a href="/astro-tutorial/posts/post-2/">2番目の記事</a></li>
    <li><a href="/astro-tutorial/posts/post-1/">最初の記事</a></li>
  </ul>
  <script>
    import "../scripts/menu.js";
  </script>
</BaseLayout>
