---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/astro-tutorial/">ホーム</a>
    <a href="/astro-tutorial/about/">あばうと</a>
    <a href="/astro-tutorial/blog/">ブログ</a>
    <h1>Astro チュートリアル</h1>
	</body>
</html>
